.colorButton {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  left: 65px;
  width: 30px;
  height: 30px;
  position: relative;
  top: 542px;
  margin: 5px;
  z-index: 2;
}

.colorButton:disabled {
  opacity: 0.3;
}
