.playerContainer {
  display: flex;
  font-size: x-large;
<<<<<<< HEAD
  flex-direction: column;
}

.playerName {
  margin-bottom: -10px;
  padding-right: 150px;
  display: inline;
}

.circleContainer {
  justify-content: center;
  margin-left: 97.5%;
=======
  flex-direction: row;
}

.playerName {
  display: inline;
  width: 175px;
}

.circleContainer {
  display: flex;
  align-items: flex-end;
>>>>>>> b84a6d7dca4f9c91ad46d76b7dff27ec1440c144
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
  margin-top: 15px;
=======
>>>>>>> b84a6d7dca4f9c91ad46d76b7dff27ec1440c144
}

.wins {
  color: black;
  font-size: x-large;
  font-weight: bold;
}
