.playerContainer {
  display: flex;
  font-size: x-large;
  flex-direction: row;
}

.playerName {
  display: inline;
  width: 175px;
}

.circleContainer {
  display: flex;
  align-items: flex-end;
}

.circle {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wins {
  color: black;
  font-size: xx-large;
  font-weight: bold;
}
