.logIn {
  display: flex;
  flex-direction: column;
}

.box {
  background: url("../../assets/images/edit_defaultpng.png");
  background-size: cover; /* or 'contain', depending on your needs */
  background-position: center;
  background-repeat: no-repeat;
  width: 352px;
  height: 394px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: none;
}

.box:hover,
.box:focus,
.box:active {
  border: none;
}

.boxWaitingForName {
  background: url("../../assets/images/edit_disabled.png");
}

.boxDisabled {
  background: url("../../assets/images/edit_defaultpng.png"); /* New background image */
}

.txt {
  font-size: xx-large;
  font-family: "Open Sans", sans-serif;
  display: flex;
  font-weight: bold;
  background-color: transparent;
  width: 247px;
  height: 100px;
  position: relative;
  bottom: 60px;
  border-radius: 20px;
  border: none;
  text-align: center;
  justify-content: center;
}

input::placeholder {
  color: black;
  text-align: center;
}

.ready {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 307px;
  font-size: larger;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  border: none;
  background-color: #ffe500;
}

.colorBar {
  text-align: center;
  position: relative;
  top: -30px;
}
