.ballDealtContainer {
  background-color: #246bce;
  padding: 50px;
  left: 380px;
  bottom: 247px;
  border-radius: 20px;
  position: relative;
}

.blackBackground {
  background-color: black;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.pageButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 15%;
  flex-direction: column;
  background: url("../../assets/images/bingo_back_tv.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.qr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  background: url("../../assets/images/bingo_logo.png");
  width: 480px;
  height: 214px;
  position: absolute;
  top: 20px;
}

.midContainer {
  display: flex;
  align-items: center;
  gap: 200px;
}

.winnerLabel {
  position: absolute;
  top: 50%;
  font-size: 100px;
  color: #ffe500;
  font-weight: bold;
  text-shadow: -5px -5px 0 #000, 5px -5px 0 #000, -5px 5px 0 #000,
    5px 5px 0 #000;
}

.inactiveVideo {
  display: none;
}

.video {
  position: relative;
  left: 277px;
}
