.homeTitle {
    width: 100%;
    text-align: center;
    background: aqua;
}

.slogan {
    height: 50vh;
}

.pageButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

