.homeTitle {
  width: 100%;
  text-align: center;
  background: aqua;
}

.pageButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.video {
  pointer-events: none;
  width: "750";
  height: "500";
}
