.cardContainer {
  width: 260px;
  height: 322px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  gap: 10px;
}

.ballsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 9px;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ballButton {
  display: flex;
  padding: 5px 10px; /* Adjust the padding to make the buttons smaller */
  width: 40px;
  height: 40px;
  background-color: #ffffff; /* Example background color */
  color: #000000; /* Example text color */
  border: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: medium;
  position: relative;
  font-weight: bold;
}

.marked {
  background-color: yellow;
}

.bingo {
  background-color: rgba(255, 255, 255, 0.6);
  letter-spacing: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  color: black;
  font-weight: bolder;
  font-size: xxx-large;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand";
  width: 100%;
  margin: 0;
  position: relative; /* Make sure the parent is positioned */
}

.bingo::after {
  content: ""; /* Empty string content */
  margin-left: -20px; /* Negative margin to compensate for the last letter spacing */
  flex: 0; /* Do not allow the pseudo-element to grow */
}

.mobileContainer {
  width: 400px;
  height: 500px;
  margin-top: 25%;
}
@media (max-width: 420px) {
  .mobileContainer {
    width: 320px; /* Adjust width for smaller screens */
    height: 400px; /* Adjust height for smaller screens */
    margin-top: 10%; /* Adjust top margin for smaller screens */
  }
}

.ballButtonMobile {
  width: 65px;
  height: 65px;
  font-size: 1.7rem;
}

@media (max-width: 420px) {
  .ballButtonMobile {
    /* mobile styles */
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
  }
}
