/* .buttonTable {
  width: 45px;
  height: 45px;
  background-color: blue;
  border: none;
  border-radius: 50%;
  position: relative;
  left: 110px;
  bottom: 56px;
} */
.buttonTable {
  width: 45px;
  height: 45px;
  background-color: blue;
  /* background: url("../../assets/images/bingo_icon_logout_table.png"); */
  border: none;
  border-radius: 50%;
}
