.input {
  display: flex;
  position: absolute;
  top: 50%;
  border-bottom-color: black;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  font-size: x-large;
  font-family: "Quicksand";
  left: 17%;
}

.txt {
  display: flex;
  font-size: x-large;
  font-family: "Quicksand";
  position: absolute;
  left: 17%;
  top: 56%;
}

.ybutton {
  display: flex;
  background-color: #ffe500;
  border-radius: 8px;
  width: 166px;
  height: 46px;
  font-size: x-large;
  color: black;
  font-weight: bold;
  font-family: "Quicksand";
  border-color: transparent;
  position: absolute;
  top: 83%;
  left: 30%;
  box-shadow: 2px 2px 5px rgba(113, 95, 28, 0.45);
}

.rules {
  display: flex;
  color: #165cbe;
  border-color: transparent;
  background-color: white;
  font-size: larger;
  position: absolute;
  left: 26%;
  top: 96%;
}

.icon {
  display: flex;
  width: 29px;
  height: 27px;
  top: 789px;
  left: 278px;
  z-index: -1;
  position: relative;
  background: url("../../../assets/images/icon_book_2.png");
}

.logo {
  display: flex;
  background: url("../../../assets/images/Group 681.png");
  position: absolute;
  width: 367px;
  left: 17px;
  top: 3px;
  height: 304px;
}

.h {
  display: flex;
  font-family: "Quicksand";
  font-weight: bold;
  position: absolute;
  left: 17%;
  top: 295px;
}
