.bingoBoard {
  position: absolute;
  background: #246bce;
  width: 1313px;
  height: 403px;
  display: flex;
  flex-direction: column;
  gap: 38px;
  padding: 16px;
  left: 311px;
  border-radius: 16px;
  top: 101px;
}

.ballsRow {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.ballContainer {
  width: 60px;
  height: 60px;
  background-color: yellow;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drawn {
  background-color: red;
}

.sno {
  position: absolute;
  left: 300px;
  bottom: 59px;
}

.bingocontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: yellow;
  color: black;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.5em;
  position: relative;
  left: 762px;
  top: -463px;
}

.letter {
  font-weight: bold;
  font-size: 1.5em;
}

.circle::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 60px;
  left: -176px;
  background-color: rgb(254, 254, 184);
  z-index: -1;
}

.rect {
  background-color: black;
  width: 5px;
  height: 627px;
  position: absolute;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  left: 197px;
  top: -2px;
  z-index: -1;
}

.players {
  background-color: #ffe500;
  position: relative;
  width: 197px;
  height: 10px;
  bottom: -55px;
}

.ycircle {
  background-color: #ffe500;
  border-radius: 50%;
  width: 76px;
  position: relative;
  bottom: 67px;
  left: 162px;
  height: 76px;
}

.playerstxt {
  color: black;
  font-size: x-large;
  position: relative;
  font-weight: bold;
  bottom: 22px;
  left: 21px;
}

.ycircletxt {
  color: black;
  font-size: larger;
  position: relative;
  font-weight: bold;
  left: 172px;
  bottom: 138px;
}
