.align {
  display: flex;
  padding-top: 30px;
}

.bingoBoard {
  background: #246bce;
  width: 1000px;
  height: 330px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 2cap;
  margin-left: 40px;
}

.ballsRow {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.bingoPlayers {
  background: rgb(255, 255, 255);
  width: 150px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-top-right-radius: 2cap;
  border-bottom-right-radius: 2cap;
  font-weight: bold;
  border: 4px solid black;
}
